/*===================修改后不可删除（elementUI的样式）======*/

.el-icon-close {
  font-size: 12px;
}
/*==================新添加的 修改element样式==============*/
.swn-tree .el-tree-node__label, .switch .el-switch__label span {
  font-size: 12px;
  padding: 1px;
}

.classify-contrast .el-switch--wide .el-switch__label.el-switch__label--right span {
  font-size: 12px;
  top: 5px;
}

.classify-contrast .el-switch--wide .el-switch__label.el-switch__label--left span {
  font-size: 12px;
  top: 5px;
}
/*==================adv版本之前 样式==============*/


.tooltip-content {
  position: relative;
  top: 10px;
}
.el-tooltip__popper.is-light.tips-popover {
  width: 200px;
  background: #f5fded;
  color: #999;
  line-height: 1.6; 
}
.we-legend .el-tooltip, .el-tooltip__rel, .el-tooltip__rel {
  display: flex;
}

.slider-container {
  width: 306px;
  height: 46px;
  line-height: 46px;
  display: block;
}
.slider-container .el-slider__button-wrapper {
  top: -22px;
}
.slider-container .slider {
  float: left;
  width: 170px;
  margin: -2px 12px;
}
.slider-container .el-slider__bar {
  height: 6px;
  background-color: #b0cefd;
}
.slider-container .el-slider__runway {
  height: 6px;
  margin: 22px 0;
  background-color: #e2e7e1;
}
.slider-container .demonstration {
  float: left;
}
.slider-container .el-slider__button {
  background: #79b4f1;
  border: 1px solid #fff;
  box-shadow: 0px 2px 4px #cdd1da;
}
.hm-selector .el-input__icon {
  width: 25px;
}
.hm-selector .el-input--small .el-input__inner {
  font-weight: 500;
  font-size: 12px;
  color: #1f2d3d;
  height: 26px;
  padding-right: 0;
}
.tb-detail table tr, .select-dropdown .el-select-dropdown__item {
  font-size: 12px;
  padding: 0 10px;
  line-height: 36px;
}
.tb-detail .el-table th .cell {
  padding: 0 20px;
  text-align: center;
}
.land-info .el-table th .cell {
  padding: 0 !important;
  text-align: center;
}
.soil .left-tab .list-menu .cf-active {
  width: 58px;
}
.soil .tree-input {
  top: 15px;
}
.soil .tree {
  left: 79px;
  margin: 15px 0;
}
.sel-tag .el-input__inner {
  height: 34px;
  font-size: 12px;
}
.soil .tag-tips {
  height: 28px;
  display: block;
}
.plant .map .ol-zoom {
  left: 331px;
  top: 324px;
  width: 36px;
  height: 76px;
  box-shadow: none;
  margin-left: 10px;
}
.plant .map .ol-zoom button {
  font-size: 18px;
  line-height: 38px;
  width: 36px;
  height: 38px;
}

.vertical .el-tooltip__rel {
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tb-detail .el-table__body-wrapper {
  overflow: hidden;
}

.el-scrollbar__wrap {
  overflow: auto;
}

.soil-table-result .el-tooltip__rel {
  display: inline-table;
}
.soil-table-result .el-tooltip__rel td {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}
.soil-table-result .el-tooltip__rel td span {
  position: relative;
  top: 6px;
  line-height: 20px;
  width: 48px;
  height: 20px;
  margin: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
.soil-drop-menu {
  padding: 0 !important;
  max-height: 294px;
  overflow: auto;
}
.soil-drop-menu .el-dropdown-menu__item {
  line-height: 26px;
}
.soil-drop-menu .el-dropdown-menu__item:not(.is-disabled):hover {
  background: #cceaff;
  color: #000;
}
.el-slider__button.dragging, .el-slider__button.hover, .el-slider__button:hover {
  transform: scale(1.1) !important;
  background: #58a4f7;
}
.el-slider__runway:hover .el-slider__bar {
  background: #58a4f7;
}




.el-radio__label {
  font-size: 12px !important;
}
.el-radio .el-radio__inner {
  width: 14px;
  height: 14px;
}

.el-pagination .el-pager li.active, .el-pagination .el-pager li.active:hover{
    border-color: #9fd032;
    background-color: #9fd032;
    color: #fff;
}
.el-pagination .el-pager li:hover {
    color: #9fd032;
}
 .tb-detail .el-table thead tr {
  border: 1px solid #d8d8d8;
 }
.tb-detail .el-table th {
  background: linear-gradient(top, #fff, #f7f7f7);
  background: -o-linear-gradient(top, #fff, #f7f7f7);
  background: -moz-linear-gradient(top, #fff, #f7f7f7);
  background: -webkit-linear-gradient(top, #fff, #f7f7f7)
}
.tb-detail .el-table__header-wrapper thead div {
  background: none;
}
.tb-detail .el-table th.is-leaf {
  font-size: 14px;
  height: 37px;
  font-weight: normal;
  border-bottom: none;
}
.tb-detail .el-table th:nth-child(2) .cell {
  padding-left: 0;
  text-align: left;
}
.bama .tb-detail .el-table th:nth-child(2) .cell {
  text-align: center;
}
.land-info .el-table th:nth-child(2) .cell {
  padding-left: 0;
  text-align: center !important;
}
.tb-detail .el-table td {
  height: 26px;
  text-align: center;
  border-bottom: none;
}
.land-info .el-table td { 
  height: 30px !important;
 }
.tb-detail .el-table {
  border: none;
}
.tb-detail .el-table .cell {
  line-height: 26px;
}
.tb-detail .el-table .cell .hide-animation {
  display: none;
}
.tb-detail .el-table .cell:hover .hide-animation {
    position: relative;
    left: -18px;
    width: 72px;
    display: block;
    animation-duration: .6s;
    -webkit-animation-duration: .6s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
.bama .tb-detail .el-table .cell:hover .hide-animation {
  width: 186px;
}
.c-left-tab .tb-detail .el-table .cell:hover .eye-ctl {
    display: none;
}
.land-info .el-table .cell {
  line-height: 30px;
}
.tb-detail .el-table td:first-child {
  text-align: right;
}
.land-info  .el-table td:first-child {
  text-align: left !important;
  padding-left: 6px;
}
.tb-detail .el-table::after, .tb-detail .el-table::before {
  background: none;
}
.el-icon-close {
  font-size: 14px;
  color: #a9a8a8;
  cursor: pointer;
}
.el-icon-close:hover {
  color: #367f05;
}
.el-tooltip__popper.is-light {
  border: 1px solid rgba(153,153,153,.8) !important;
}
.trend-title .el-input__icon+.el-input__inner {
  padding-right: 0;
  border: 1px solid #b9b9b9;
  color: #555;
}
.trend-title .el-input__inner {
  height: 22px;
}
.trend-title .el-input {
  font-size: 12px;
}
.el-select-dropdown__item {
    font-size: 12px !important;
  }
.cell .eye-ctl {
    font-size: 14px;
    color: #8bbcf9;
}
.bama .cell .eye-ctl {
  left: -8px;
}
.cell .icon-hide {
    color: #a1a8ae;
}
.land-info tbody tr:nth-child(2n) {
  background: #eef6fb;
}
.el-tooltip__popper {
  padding: 4px 5px !important;
}
.plant-slider .slider {
  width: 154px !important;
}

.soil .ol-overlay-container .ent-popup {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  width: 232px;
  height: 84px;
  border-radius: 2px;
  cursor: default;
}
.soil .ol-overlay-container .ent-popup span {
  position: absolute;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  width: 26px;
  height: 26px;
}
.soil .ol-overlay-container .ent-popup h3 {
  position: relative;
  top: 12px;
  font-size: 14px;
  left: 12px;
  color: #555;
  width: 180px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.soil .ol-overlay-container .ent-popup p {
  position: relative;
  top: 10px;
  padding: 10px;
  height: 26px;
}
.soil .ol-overlay-container .ent-popup span:hover {
  color: #f7ba2a;
}

.agri-mgr .ol-overlay-container .land-popup {
  position: absolute;
  left: -75px;
  top: -150px;
  background: #fff;
  width: 172px;
  padding-bottom: 8px;
  border-radius: 4px;
  cursor: default;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
}
.agri-mgr .ol-overlay-container .land-popup span {
  position: absolute;
  right: 0;
  font-size: 20px;
  cursor: pointer;
  width: 26px;
  height: 26px;
}
.agri-mgr .ol-overlay-container .land-popup h3 {
  position: relative;
  margin: 0 10px 7px;
  top: 10px;
}
.agri-mgr .ol-overlay-container .land-popup p {
  position: relative;
  margin: 1px 0 0 10px;
  top: 7px;
}
.agri-mgr .ol-overlay-container .land-popup p i {
  color: #708c69;
  font-size: 14px;
}
.deep-monitor-popup {
  position: absolute;
  background: #fff;
  width: 190px;
  height: 100px;
  border-radius: 4px;
  cursor: default;
}
.deep-monitor-popup h3 {
  position: relative;
  margin: 0 10px 7px;
  top: 14px;
  font-size: 14px;
}
.deep-monitor-popup .popup-desc-container {
  width: 170px;
  height: 48px;
  padding: 15px 10px 10px;
  overflow-y: scroll;
}
.deep-monitor-popup p {
  word-break: break-word;
  line-height: 18px;
  height: 14px;
}
.slider-container .opacity-switch {
  position: absolute;
  right: -24px;
  top: 10px;
}
.classify-slider .slider {
  width: 124px;
}
.slider-container  .el-switch--wide .el-switch__label.el-switch__label--left span {
  top: 5px;
  font-size: 12px;
}
.slider-container  .el-switch--wide .el-switch__label.el-switch__label--right span {
  top: 5px;
  font-size: 12px;
}
.weather-test-time .el-date-editor.el-input {
  right: 20px;
  float: right;
  width: 117px;
  border-radius: 2px;
  margin: 9px 0 9px;
  cursor: pointer;
}
.el-picker-panel__body-wrapper .el-date-table td.current:not(.disabled), 
.el-picker-panel__body-wrapper .el-date-table td.end-date, 
.el-picker-panel__body-wrapper .el-date-table td.start-date {
  background-color: rgb(194, 230, 117) !important;
}
.el-picker-panel__body-wrapper .el-date-table td.today:before{
  border-top: .5em solid #c2e675;
}
.el-input .el-input__inner:focus {
    outline: 0;
    border-color: #fff;
}
.el-input__icon+.el-input__inner {
  cursor: pointer;
  height: 34px;
  border-radius: 4px;
  font-size: 12px;
}
.weather-test-time .el-input__icon+.el-input__inner {
  cursor: pointer;
  height: 26px;
  border-radius: 2px;
  font-size: 12px;
}
.el-date-table td.today {
  color: #c2e675 !important;
}
.pwd-login-caps .el-popover {
  min-width: 86px;
}
.el-popover {
  z-index: 20001!important;
}

.fore-loading-container .el-loading-mask .el-loading-spinner .circular {
  width: 30px;
  height: 30px;
}
.fore-loading-container .el-loading-mask .el-loading-spinner {
  margin-top: -10px;
}
.login-btn .login-loading .el-loading-mask {
  width: 0;
  top: 8px;
  left: 60px;
}
.login-btn .login-loading .el-loading-mask .el-loading-spinner .circular {
  width: 30px;
  height: 30px;
}
.login-btn .login-loading .el-loading-mask .el-loading-spinner .path {
  stroke: #fff;
  stroke-width: 4px;
}
.drop-down-menu .el-input__inner {
  height: 30px;
}
.img-map {
  margin: 0 auto;
}
.filter-detail .filter-child-border .el-radio-group .el-radio{
  margin: 14px 14px 0 0;
} 
.filter-detail .filter-child-border .el-checkbox-group{
  display: inline-block;
  line-height: 12px;
}
.filter-detail .filter-child-border .el-checkbox .el-checkbox__label{
  font-size: 12px;
}
.filter-detail .filter-child-border .el-checkbox{
  margin: 14px 14px 0 0;
}
.soil .soil-pie-tips {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}
.soil .out-level {
  background: #cc1c1c; 
}
.soil .in-level {
  background: #2791e1; 
}
.soil .out-level-text {
  color: #cc1c1c; 
}
.soil .in-level-text {
  color: #2791e1; 
}


.crop-test .pre-period,.crop-test .next-period{
  padding: 5px !important;
  font-size: 14px !important;
}
.crop-test .pre-period {
  left: 175px !important;
} 

.weather-test-time .next-period {
  margin: 14px 109px !important;
}

.detail-container .weather-test-time .phase {
  padding: 5px !important;
  font-size: 14px !important;
}

